body {
  font-family: sans-serif;
}

.viewer-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

canvas {
  display: block;
  margin: 0;
}

.crop-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: red;
  cursor: row-resize;
  z-index: 10;
}

.crop-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  transform: translateY(-6px);
}
